.logo {
  display: flex;
  align-items: center;
  height: var(--header-height);
}

.logo svg {
  width: auto;

  margin-right: 8px;
}

.logo .name {
  margin-right: 8px;
}

.logo .version {
  font-size: 0.8em;
  color: gray;
}
