.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--header-height));
}

.button {
  padding: 3em 5em;
  box-shadow:
    5px 5px 0px #000,
    10px 10px 0px #555;
  transition:
    transform 0.1s,
    box-shadow 0.1s;
}

.button.hidden {
  display: none;
}

.button:hover {
  transform: translate(2px, 2px);
  box-shadow:
    3px 3px 0px #000,
    6px 6px 0px #555;
}

.randomGame {
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}

.gameHeader {
  font-size: 0.5em;
  margin-top: 1em;
}

.gameInfo {
  font-size: 1em;
  margin-top: 1em;
}

.finalGameDetails {
  transform: perspective(600px) rotateX(30deg) rotateY(0deg);
  transition: transform 0.5s ease;
}

.finalGameDetails:hover {
  transform: perspective(600px) rotateX(28deg) rotateY(0deg);
}

.finalGameLabel {
  transform: perspective(600px) rotateX(30deg) rotateY(0deg);
  font-size: 2em;
  text-shadow:
    4px 4px 0 var(--primary-color),
    8px 8px 0 var(--secondary-color);
}

.pickCount {
  font-size: 0.2em;
  margin-top: 1em;
}

.countdown {
  font-size: 0.3em;
  margin-top: 1em;
}

.tryAgainButton {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: 2px solid var(--border-color);
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: var(--font-family);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  margin-left: 1em;
}

@media (max-width: 600px) {
  .button {
    padding: 2em 3em;
  }

  .randomGame {
    font-size: 1.5em;
  }

  .gameHeader {
    font-size: 0.4em;
  }

  .gameInfo {
    font-size: 0.9em;
  }

  .finalGameLabel {
    font-size: 1.5em;
  }

  .pickCount {
    font-size: 0.15em;
  }

  .countdown {
    font-size: 0.25em;
  }

  .tryAgainButton {
    padding: 0.4em 0.8em;
  }
}
