.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--header-background-color);
  padding-inline: 1em;
}

.header .logo {
  margin-right: auto;
}

.header .theme-switch {
  margin-left: auto;
}
