/* Default Dark Theme (Retro CRT) */
@font-face {
  font-family: 'CustomHeaderFont';
  src:
    url('./assets/QuinqueFive.woff2') format('woff2'),
    url('./assets/QuinqueFive.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomCopyFont';
  src: url('./assets/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-height: 48px;
  --background-color: #242424;
  --text-color: #00ff99;
  --primary-color: #ff0054;
  --secondary-color: #00ccff;
  --accent-color: #ffcc00;
  --border-color: #333333;
  --font-headings: 'CustomHeaderFont', sans-serif;
  --font-body: 'CustomCopyFont', monospace;

  --header-background-color: #7400ff;
  /* Cursors */
  --cursor: url('./assets/pointer.svg'), auto;
  --cursor-not-allowed-url: url('./assets/not-allowed.svg'), not-allowed;
}

/* Light Theme (Retro Arcade) */
.light {
  --background-color: #fafafa;
  --text-color: #3b3b3b;
  --primary-color: #ff5733;
  --secondary-color: #3399ff;
  --accent-color: #f4d03f;
  --border-color: #e0e0e0;
  --header-background-color: #d5cf81;
}

/* Transition for smooth theme switching */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-body);
  font-size: 1.2em;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: var(--font-headings);
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}
