:root {
  --background-color: #fff;
  --text-color: #000;
  --header-background-color: #333;
  --header-text-color: #fff;
  --row-even-background-color: #f2f2f2;
  --row-odd-background-color: #fff;
  --row-hover-background-color: #ddd;
  --header-hover-background-color: #555;
  --button-background-color: #29a3a3;
  --button-hover-background-color: #1e7a7a;
  --button-disabled-background-color: #7f7f7f;
  --random-game-background-color: #e0e0e0;
  --random-game-shadow-color: #000;
  --random-game-shadow-color-2: #555;
  --random-game-shadow-color-3: #888;
  --random-game-header-background-color: #29a3a3;
  --random-game-header-text-color: #2a2a2a;
  --final-game-label-color: #29a3a3;
  --table-border-color: #000;
  --table-header-background-color: #29a3a3;
  --table-header-text-color: #fff;
  --table-header-hover-background-color: #1e7a7a;
  --table-row-even-background-color: #e0e0e0;
  --table-row-odd-background-color: #f9f9f9;
  --table-row-hover-background-color: #d0d0d0;
  --sort-icon-color: #000;
  --cursor: url('./assets/pointer.svg'), auto;
  --cursor-not-allowed-url: url('./assets/not-allowed.svg'), not-allowed;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --header-background-color: #1f1f1f;
  --header-text-color: #e0e0e0;
  --row-even-background-color: #2c2c2c;
  --row-odd-background-color: #1f1f1f;
  --row-hover-background-color: #3c3c3c;
  --header-hover-background-color: #444;
  --button-background-color: #29a3a3;
  --button-hover-background-color: #1e7a7a;
  --button-disabled-background-color: #7f7f7f;
  --random-game-background-color: #2c2c2c;
  --random-game-shadow-color: #000;
  --random-game-shadow-color-2: #555;
  --random-game-shadow-color-3: #888;
  --random-game-header-background-color: #29a3a3;
  --random-game-header-text-color: #e0e0e0;
  --final-game-label-color: #29a3a3;
  --table-border-color: #000;
  --table-header-background-color: #29a3a3;
  --table-header-text-color: #e0e0e0;
  --table-header-hover-background-color: #1e7a7a;
  --table-row-even-background-color: #2c2c2c;
  --table-row-odd-background-color: #1f1f1f;
  --table-row-hover-background-color: #3c3c3c;
  --sort-icon-color: #e0e0e0;
  --cursor: url('./assets/pointer.svg'), auto;
  --cursor-not-allowed-url: url('./assets/not-allowed.svg'), not-allowed;
}

@font-face {
  font-family: 'RetroPixel';
  src:
    url('./assets/QuinqueFive.woff2') format('woff2'),
    url('./assets/QuinqueFive.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'RetroPixel', sans-serif;
  cursor: var(--cursor);
}

button {
  cursor: var(--cursor);
}

#root {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
